.post {
  padding: 1rem;
  margin-top: 2rem;
  background-color: $color-post;

  @include z-depth-2dp();
  @include z-depth-transition();
  &:hover {
    @include z-depth-4dp();
  }
}

.post-title {
}

.post-title-link {
  color: inherit;
}

.post-meta {
  margin-bottom: 1rem;
}

.post-tags {
  display: inline-block;
}

.post-categories {
  display: inline-block;
}

.post-create_time {
  display: inline-block;
}
