@charset "UTF-8";

.sidebar-wrapper {
  display: inline-block;
}

.sidebar-widget-title {

}

.sidebar-widget {
  margin-bottom: $margin-base / 4;
  padding: 0.5rem 0.8rem;
  background-color: $color-sidebar-widget;
  @include box-shadow-base();

  > ul {
    margin: 0;
    padding-left: 1rem; //  补上li前的项目标号的缩进
  }
}

// sidebar widget: categories
//==================================
.widget_categories {
}

// sidebar widget: archive
//==================================
.widget_archive {
}

// sidebar widget: meta
//==================================
.widget_meta {
}

/* ---------------- Breakpoint
 */
@include media-breakpoint-down(sm) {

}
