
// Color
// ===================================================


$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000 !default;

$cyan: #006064;
$cyan-2: #00838f;
$cyan-3: #008e9b;

$color-body-bg: #eee;

$color-header-fg: $white;
$color-header-bg: $cyan;
$color-header-bg-hover: $cyan-2;

$color-footer-bg: $white;

$color-post-bg: $white;

$color-link: $cyan-3;
$color-link-hover: $cyan-2;

// Fonts
// ==================================================
$font-size-sm: 0.75rem;
$font-size-base: 1rem;
$font-size-lg: 1.5rem;

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;

$font-size-h1: $font-size-base * 2;
$font-size-h2: $font-size-base * 1.75;
$font-size-h3: $font-size-base * 1.5;
$font-size-h4: $font-size-base * 1.25;
$font-size-h5: $font-size-base * 1;
$font-size-h6: $font-size-base * 0.75;

$font-weight-headings: $font-weight-bold;

$font-size-post-title: $font-size-lg;

// hamburgers custom
// ==================================================
$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 15px;
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color         : $color-header-fg;
$hamburger-layer-border-radius : 0;
// $hamburger-hover-opacity       : 0.7 !default;
// $hamburger-active-layer-color  : $hamburger-layer-color !default;
// $hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
